
/* BODY (STYLESHEET GENERALE) */
body{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    color: #393d41;
    font-size:  1.2rem; 
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}

/* HEADER */

body .header .logo{
    background-color: black;
}

body .header img{
    width: 150px;
    padding: 30px;
}

body .header .intestation_text{
    background-image: url(../images/banner.jpg);
    height: 400px;
    background-position: center;
    background-size: 700px;
    background-repeat: no-repeat;
}

body .header .intestation_text h1{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 35px 35px 5px 35px;
    line-height: 1;
}

body .header .intestation_text p{
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 30px;
}

body .header .intestation_text .pulse a{
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin-top: 12px;
    border-radius: 5px;
    font-size: small;
}

/* MAIN */

.main h3{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #25a2c3; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

.main:first-child{
    margin-top: 70px;
    margin-bottom: 0px;
}

.main p{
    padding: 2px 50px 10px 50px;
    font-size: larger;
    margin-top: 5px;
    
}

.main .notebook{
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden;
    margin-bottom: 20px;
}

.main .blocco_epicode{
    background-color: #db2f11;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.main .blocco_epicode blockquote h2{
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 0;
    
    font-weight: bolder;
    font-size: 39px;
}

.main .blocco_epicode blockquote p{
    font-style: italic;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}









/* SECTION_1 */



/* ASIDE */


/* SECTION_2 */


/* FOOTER */