body {
    background-color: rgb(125, 27, 125);
    height: 100%;
    margin: 0;
    padding: 0;
}

.riquadro{
    background-color: white;
    width: 700px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.riquadro2{
    padding: 15px;
}

#task{
    width: 470px;
    padding: 9px;
    margin-right: 25px;
}

#button {
    background-color: aqua;
    border-radius: 5px;
    padding: 9px;
    width: 130px;
}

ul{
    padding: 9px;
}

li {
    background-color: rgb(125, 178, 180);
    color: black;
    padding: 9px;
    list-style-type: none;
    margin: 3.5px;
}

