html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 1.2em;
   line-height: 1.2em;
   font-family: 'Roboto', sans-serif;
}

header {
   text-align: center;
   color: antiquewhite;
   background-color: darkblue;
   height: 50px;
   padding: 40px;
}

.container {
   text-align: center;
   margin-top: 60px;
}

.container input {
   font-size: x-large;
   margin-top: 20px;
}

.container button {
   height: 30px;
   vertical-align: text-top;
   background-color: #00FFFF;
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}



#lista {
   list-style-type: none;
}